table {
  border-collapse: collapse;
  width: 60%;
  max-width: 960px;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}
